body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 35px;
}

div.About {
    text-align: center;
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-top-width: 2.5px;
    border-bottom-width: 2.5px;
    margin-left: 160px;
}

div.Contact {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-bottom-width: 2.5px;
    font-size: 20px;
    margin-left: 160px;
}

div.Experience {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-top-width: 2.5px;
    border-bottom-width: 2.5px;
    margin-left: 160px;
}

div.Certificates {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-top-width: 2.5px;
    margin-left: 160px;
}

ul.lists {
    list-style-type: none;
    text-align: center;
}

.images {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
}

html {
    scroll-behavior: smooth;
}

.side-bar {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-right-width: 0px;
    width: 160px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.6rem 0.3rem;
    font-weight: 400;
    transition: all ease-out 250ms;
}

* {
    box-sizing: border-box;
}

nav li a:hover {
    color: purple;
}

.active {
    color: purple;
    font-weight: 600;
}