body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 35px;
}

div.About {
    text-align: center;
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-top-width: 2.5px;
    border-bottom-width: 2.5px;
}

div.Contact {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-bottom-width: 2.5px;
    font-size: 20px;
}

div.Experience {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-top-width: 2.5px;
    border-bottom-width: 2.5px;
}

div.Certificates {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-top-width: 2.5px;
}

ul.lists {
    display: inline-block;
    text-align: left;
}

.images {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
}